{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-center m-5">
        <form action="/validate-change-password/{{uuid}}" method="POST" class="border rounded border-light bg-light p-3 text-right">
        {% csrf_token %}
            <div class="form-group">
                <label for="password">رمز</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="رمز">
            </div>
            <div class="form-group">
                <label for="password2">تکرار رمز</label>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="تکرار رمز">
            </div>
            <button type="submit" class="btn btn-primary w-100">تغییر رمز</button>
        </form>
    </div>
</body>
</html>