{% extends 'main.html' %}
{% load static %}
{% load templatetags_custom %}
{% block 'main-content' %}
    {% if not answer_page %}
        <div class="pt-2 pb-4">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{question_progress}}%;" aria-valuenow="{{question_progress}}" aria-valuemin="0" aria-valuemax="100">{{question_progress}}%</div>
            </div>
        </div>
    {% endif %}
    <form action="{{next}}" method="GET">
        <div id="question-container" class="text-right p-3 bg-light rounded" >
            
        </div>
        <div id="answers-container" class="text-right p-3 bg-light rounded" >
            
        </div>
        {% if not answer_page %}
        <div class="text-center mb-0">
            <div class="alert alert-success d-inline-block p-1 mt-2">
                زمان باقیمانده: <span id="timer">{{ timer_limit }}</span> ثانیه
            </div>
        </div>
        <div class="text-center p-3">
            <button id="submit-response" class="btn btn-success">
                ارسال پاسخ
            </button>
        </div>
        {% endif %}
    </form>
    {% if answer_page %}
    <div class="text-right mt-3">
        <div class="alert alert-info text-center">
            پاسخ‌ها
        </div>
        <div class="text-center">
            <div dir="ltr" class="btn-group py-3 text-center" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">{{state.answer_percentage}}</button>
                <button type="button" class="btn btn-dark">نسبت پاسخ صحیح به کل</button>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            {% for question in questions %}
            <li class="list-group-item">سوال {{question.order}}: {{question.question.answer}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}




{% endblock %}
{% block 'js-block' %}
{% include 'question/timer.html' %}
<script>
    var text = '{{ question.text }}';
    
    var reg = /&amp;&amp;__question__&amp;&amp;/g;
    var result;
    var counter = 0;

    {% comment %} var answer_status = function(user_answer, option){
        console.log({user_answer, option});
        return (user_answer === option ? 'checked' : '');
    }; {% endcomment %}
    var answer_status = function(user_answer, answer){
        return (user_answer === answer ? 'right-answer' : 'wrong-answer');
    };
    {% if answer_page %}
    var questions = [
        {% for question in questions %}
        {
            order:{{question.order}},
            answer:'{{question.question.answer}}',
            user_answer:'{{question.answer|default_if_none:''}}',
            text: '{{question.question.text}}',
            whole_text: '{{question.question.whole_text}}',
            part_text: '{{question.question.part_text}}',
        },
        {% endfor %}
    ];
    var answers = [
        {% for answer in answers %}
        {
            order:{{answer.order}},
            text:'{{answer.text}}',
        },
        {% endfor %}
    ];
    var user_answers = [
        {% for answer in user_answers %}
        {
            order:{{answer.order}},
            text:'{{answer.text}}',
        },
        {% endfor %}
    ];
    for(var i=0;i< questions.length; i++){
        text+= '<div class="p-2">'+questions[i].text+'</div>';
        var input_text_questions = '<input name="'+(questions[i].order)+'" type="text" class="v-question-input '+answer_status(questions[i].user_answer, questions[i].answer)+'" value="'+(questions[i].user_answer)+'" disabled/>';
        text = text.replace('/&amp;&amp;__question__&amp;&amp;/',input_text_questions);
    }
    {% else %}

    var question_choices = [
        {% for option in question.options.all %}
            '{{option.text}}',
        {% endfor %}
    ];
    {% if whole_text == 'whole' %}
    text = '{{question.whole_text}}';
    {% elif whole_text == 'part' %}
    text = '{{question.part_text}}';
    {% else %}
    text = '{{question.text}}';
    {% endif %}
    var input_text_questions = '<input name="'+({{order}})+'" type="text" class="v-question-input" placeholder="'+({{order}})+'" disabled/>';
    text = text.replace('/&amp;&amp;__question__&amp;&amp;/',input_text_questions);
    var input_text_answers = '<div>\
                سوال '+({{order}})+':\
            </div>\
            <div class="p-2">';
    for(var i=0;i<question_choices.length;i++){
        input_text_answers += '<div class="custom-control custom-radio custom-control-inline">\
                        <input type="radio" id="customRadioInline'+({{order}}*4+i)+'" name="answer" class="custom-control-input" value="'+question_choices[i]+'"{% if answer_page %} disabled{% endif %} {% if answer_page %} '+answer_status(user_answers[{{order}}].text, question_choices[i])+'{% endif %}>\
                        <label class="custom-control-label" for="customRadioInline'+({{order}}*4+i)+'">'+question_choices[i]+'</label>\
                    </div>';
    }
    input_text_answers += '</div>';

    $('#answers-container').html(input_text_answers);
    
    {% endif %}
    var answer_text='';
    {% comment %} while((result = reg.exec(text)) !== null) {
        var input_text_questions = '<input name="'+(counter+1)+'" type="text" class="v-question-input" placeholder="'+(counter+1)+'" disabled/>';
        var input_text_answers = '<div>\
                    سوال '+(counter +1)+':\
                </div>\
                <div class="p-2">';
        for(var i=0;i<question_choices[counter]['options'].length;i++){
            input_text_answers += '<div class="custom-control custom-radio custom-control-inline">\
                            <input type="radio" id="customRadioInline'+(counter*4+i)+'" name="'+(counter+1)+'" class="custom-control-input" value="'+question_choices[counter]['options'][i]+'"{% if answer_page %} disabled{% endif %} {% if answer_page %} '+answer_status(user_answers[counter].text, question_choices[counter]['options'][i])+'{% endif %}>\
                            <label class="custom-control-label" for="customRadioInline'+(counter*4+i)+'">'+question_choices[counter]['options'][i]+'</label>\
                        </div>';
        }
        input_text_answers += '</div>';
        text = text.replace('/&amp;&amp;__question__&amp;&amp;/',input_text_questions);
        answer_text += input_text_answers;
        counter++;
    } {% endcomment %}
    

    
    $('#question-container').html(text);
</script>
{% endblock %}