{% extends 'main.html' %}
{% load static %}
{% load templatetags_custom %}
{% block 'main-content' %}
{{ data | json_script:"county-data" }}
<div class="card mb-3 text-right">
    <div class="card mb-3">
    <div class="card-header">
    <i class="fas fa-chart-area"></i>
    نمودار پیشرفت کلی </div>
    <div class="card-body">
    <canvas id="myAreaChart" width="100%" height="30"></canvas>
    </div>
</div>
</div>
<script src="http://46.209.4.216:8000/static/vendor/chart.js/Chart.min.js"></script>
<script src="http://46.209.4.216:8000/static/js/demo/chart-area-demo-1.js"></script>

{% endblock %}