{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://46.209.4.216:8000/static/css/sb-admin.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>زبان‌آموز</title>
</head>
<body>
    <div class="d-flex flex-column justify-content-center align-items-center m-5">
        <div class="text-center">
            سامانه ارزیابی برخط مهارت درک مطلب فارسی‌آموزان با قابلیت تعامل دوسویه
        </div>
        <form action="/accounts/login/" method="POST" class="border rounded border-light bg-light p-3 text-right w-md-50">
        {% csrf_token %}
            <div class="text-center">
                <img class="bg-white p-1 rounded" src="http://46.209.4.216:8000/static/img/ihcsLogo.png" alt="پژوهشگاه علوم انسانی" style="max-height:80px;">
            </div>
            <div class="form-group">
                <label for="username">نام کاربری</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="نام کاربری">
            </div>
            <div class="form-group">
                <label for="password">رمز عبور</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="رمز عبور">
            </div>
            <button type="submit" class="btn btn-primary w-100">ورود</button>
            <div class="text-center mt-1">
            <div class="row" dir="rtl">
                <div class="col-md-6">

                <a href="/signup">
                <span class="badge badge-success">
                    ثبت نام
                </span>
                </a>
                </div>
                <div class="col-md-6">
                <a href="/change-password-mail">
                <span class="badge badge-danger">
                    بازیابی رمز
                </span>
                </a>
                </div>
            </div>
            <hr />
            <a href="mailto:zabanamooz@ihcs.ac.ir">ارتباط با ما</a>
        </form>
    </div>
</body>
</html>