{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <script type="text/javascript" src="http://46.209.4.197:8000/static/vendor/jquery/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body dir="rtl">
    <div class="d-flex justify-content-center m-5">
        <form action="/accounts/register/" method="POST" class="form-row w-75 border rounded border-light bg-light p-3 text-right">
        <div class="alert alert-info w-100 text-center">
            ثبت‌نام
        </div>
        {% csrf_token %}                                
            <div class="form-group col-md-12">
                <label for="username">نام کاربری(آدرس ایمیل)</label>
                <input type="email" class="form-control" id="username" name="username" placeholder="email@gmail.com"/>
            </div>
            <div class="form-group col-md-6">
                <label for="password">رمز عبور</label>
                <input type="password" pattern="^[a-zA-Z0-9-_\.]{8,}$" class="form-control" id="password" name="password" placeholder="رمز عبور"/>
                <small class="text-info">
                    رمز عبور باید ترکیبی از حروف و اعداد و حداقل ۸ رقم باشد
                </small>
            </div>
            <div class="form-group col-md-6">
                <label for="newpassword">تکرار رمز عبور</label>
                <input type="password" pattern="^[a-zA-Z0-9-_\.]{8,}$" class="form-control" id="newpassword" name="newpassword" placeholder="تکرار رمز عبور"/>
                <small id="rep-password" class="text-danger d-none">
                    رمز و تکرار آن مطابقت ندارد
                </small>
            </div>
            <div class="form-group col-md-6">
                <label for="name">نام</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="نام"/>
            </div>
            <div class="form-group col-md-6">
                <label for="lastname">نام خانوادگی</label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="نام خانوادگی"/>
            </div>
            <div class="form-group col-md-6">
                <label for="birth-date-year">تاریخ تولد(میلادی)</label>
                <div class="row">
                    <div class="col-md-4">
                        <input type="number" class="form-control" id="birth-date-year" name="birth-date-year" placeholder="سال تولد" min="1800" max="2020"/>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control" id="birth-date-month" name="birth-date-month" placeholder="ماه تولد" min="0" max="12"/>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control" id="birth-date-day" name="birth-date-day" placeholder="روز تولد" min="0" max="31"/>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="country">کشور محل تولد</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="مثال: ایران"/>
            </div>
             <div class="form-group col-md-3">
                <label for="country">جنیست</label>
                <select class="form-control" name="gender">
                    <option value="female">زن</option>
                    <option value="male">مرد</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="native-language">زبان مادری</label>
            </div>
            <div class="custom-control custom-switch d-flex align-items-center col-md-4">
                <div>زبان مادری مادر فارسی است؟</div>
                <input type="checkbox" name="is_mother_persian" class="custom-control-input" id="mother-lang" dir="ltr"/>
                <label id="mother-lang-togg" class="custom-control-label" for="mother-lang" dir="ltr">خیر</label>
            </div>
            <div class="custom-control custom-switch d-flex align-items-center col-md-4">
                <div>زبان مادری پدر فارسی است؟</div>
                <input type="checkbox" name="is_father_persian" class="custom-control-input" id="father-lang" dir="ltr"/>
                <label id="father-lang-togg" class="custom-control-label" for="father-lang" dir="ltr">خیر</label>
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control" id="native-language" name="native-language" placeholder="مثال: فارسی"/>
            </div>
            <div class="form-group col-md-4">
            <div id="mother-container">
                <input type="text" class="form-control" id="mother-native-language" name="mother-native-language" placeholder="زبان مادری مادر: برای مثال فارسی"/>
            </div>
            </div>
            <div class="form-group col-md-4">
            <div id="father-container">
                <input type="text" class="form-control" id="father-native-language" name="father-native-language" placeholder="زبان مادری پدر: برای مثال فارسی"/>
            </div>
            </div>
            <div class="custom-control custom-switch d-flex align-items-center col-md-12">
                <div>دانشجو هستید؟</div>
                <input type="checkbox" name="is_student" class="custom-control-input" id="is-student" dir="ltr"/>
                <label id="is-student-label" class="custom-control-label" for="is-student" dir="ltr">خیر</label>
            </div>
            <div class="form-group col-md-6 is-student-yes d-none">
                <label for="university">نام دانشگاه</label>
                <input type="text" class="form-control" id="university" name="university" placeholder="دانشگاه صنعتی امیرکبیر"/>
            </div>
            <div class="form-group col-md-6 is-student-yes d-none">
                <label for="major">رشته تحصیلی</label>
                <input type="text" class="form-control" id="major" name="major" placeholder="مهندسی کامپیوتر"/>
            </div>
            <div class="form-group col-md-12">
                <label for="reason">دلیل یادگیری زبان فارسی :</label>
                <select name="reason" placeholder="دلیل یادگیری زبان فارسی" class="col-md-12">
                    <option value="1">تحصیل دانشجوی خارجی در ایران</option>
                    <option value="2">اختلال در یادگیری زبان فارسی</option>
                    <option value="3">ایرانی مقیم خارج از کشور</option>
                    <option value="4">علاقه شخصی</option>
                </select>
            </div>
            <div class="custom-control custom-switch d-flex align-items-center col-md-12 mb-md-2">
                <div>آیا با زبان فارسی آشنایی دارید؟</div>
                <input type="checkbox" name="is_knowing_persian" class="custom-control-input" id="knowing" dir="ltr"/>
                <label id="knowing-togg" class="custom-control-label" for="knowing" dir="ltr">خیر</label>
            </div>
            <div id="how-knowing-select" class="d-none col-md-12 mb-1">
                <label for="how-reason">چگونه با زبان فارسی آشنایی دارید؟</label>
                <select id="how-reason" name="how-reason" class="col-md-12">
                    <option value="مطالعه انفرادی">مطالعه انفرادی</option>
                    <option value="شرکت در کلاس‌های آزاد آموزشی خصوصی">شرکت در کلاس‌های آزاد آموزشی خصوصی</option>
                    <option value="شرکت در کلاس‌های آزاد آموزشی عمومی">شرکت در کلاس‌های آزاد آموزشی عمومی</option>
                    <option value="از طریق پدر یا مادر">از طریق پدر یا مادر</option>
                    <option value="از طریق دوست">از طریق دوست</option>
                    <option value="سایر">سایر</option>
                </select>
            </div>
            <div class="form-group col-md-12 d-none knowing-how">
                <label for="reason">چگونه با زبان فارسی آشنایی دارید؟</label>
                <textarea class="form-control" id="how-knowing" placeholder="چگونه با زبان فارسی آشنایی دارید؟"></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100" id="submit-form">ثبت‌نام</button>
        </form>
    </div>
</body>
<script  type="text/javascript" src="http://46.209.4.197:8000/static/vendor/jquery/jquery.min.js"></script>
<script>
(function(){
        $('#is-student').on('change',function(){
        var checked = this.checked;
        if(checked){
            $('.is-student-yes').removeClass('d-none');
        } else {
            $('.is-student-yes').addClass('d-none');
        }
        $('#is-student-label').text(checked ? 'بله' : 'خیر');
    });
    $('#knowing').on('change',function(){
        var checked = this.checked;
        if(checked){
            $('#how-knowing-select').removeClass('d-none');
        } else {
            $('#how-knowing-select').addClass('d-none');
        }
        $('#knowing-togg').text(checked ? 'بله' : 'خیر');
    });
    $('#how-reason').on('change',function(){
        debugger;
        if(this.value === 'سایر'){
            $('.knowing-how').removeClass('d-none');
            $('#how-knowing').val('');
        } else {
            $('.knowing-how').addClass('d-none');
            $('#how-knowing').val($('#how-reason').val());
        }
    })
    $('#mother-lang').on('change',function(){
        var checked = this.checked;
        $('#mother-lang-togg').text(checked ? 'بله' : 'خیر');
        if(!checked){
            $('#mother-container').removeClass('d-none');
        } else {
            $('#mother-container').addClass('d-none');
        }
    })
    $('#father-lang').on('change',function(){
        var checked = this.checked;
        $('#father-lang-togg').text(checked ? 'بله' : 'خیر');
        if(!checked){
            $('#father-container').removeClass('d-none');
        } else {
            $('#father-container').addClass('d-none');
        }
    })
    $('#newpassword, #password').on('keyup', function(){
        if($('#password').val() != $('#newpassword').val()){
            $('#rep-password').removeClass('d-none');
            $('#submit-form').attr('disabled',true);
        } else {
            $('#rep-password').addClass('d-none');
            $('#submit-form').attr('disabled',false);
        }
    })
})();
    {% comment %} $('#is-student').on('change',function(){
        var checked = this.checked;
        if(checked){
            $('.is-student-yes').removeClass('d-none');
        } else {
            $('.is-student-yes').addClass('d-none');
        }
        $('#is-student-label').text(checked ? 'بله' : 'خیر');
    })
    $('#knowing').on('change',function(){
        var checked = this.checked;
        if(checked){
            $('#how-knowing-select').removeClass('d-none');
        } else {
            $('#how-knowing-select').addClass('d-none');
        }
        $('#knowing-togg').text(checked ? 'بله' : 'خیر');
    })
    $('#how-reason').on('change',function(){
        debugger;
        if(this.value === 'سایر'){
            $('.knowing-how').removeClass('d-none');
            $('#how-knowing').val('');
        } else {
            $('.knowing-how').addClass('d-none');
            $('#how-knowing').val($('#how-reason').val());
        }
    })
    $('#mother-lang').on('change',function(){
        var checked = this.checked;
        $('#mother-lang-togg').text(checked ? 'بله' : 'خیر');
        if(!checked){
            $('#mother-container').removeClass('d-none');
        } else {
            $('#mother-container').addClass('d-none');
        }
    })
    $('#father-lang').on('change',function(){
        var checked = this.checked;
        $('#father-lang-togg').text(checked ? 'بله' : 'خیر');
        if(!checked){
            $('#father-container').removeClass('d-none');
        } else {
            $('#father-container').addClass('d-none');
        }
    })
    $('#newpassword, #password').on('keyup', function(){
        if($('#password').val() != $('#newpassword').val()){
            $('#rep-password').removeClass('d-none');
            $('#submit-form').attr('disabled',true);
        } else {
            $('#rep-password').addClass('d-none');
            $('#submit-form').attr('disabled',false);
        }
    }) {% endcomment %}
</script>
</html>