{% extends 'main.html' %}
{% load static %}
{% block 'main-content' %}
<div class="text-right" dir="rtl">
    <div class="py-3">
        <label for="text">متن شما:</label>
        <textarea class="form-control" name="text" id="text" rows="10" disabled>
            {{text_writing.text}}
        </textarea>
    </div>
    {% if text_writing.modified_text %}
        <div>
        متن تصحیح شده:
    </div>
    <div class="border border-success rounded bg-light p-2">
        {{text_writing.modified_text}}
    </div>
    {% endif %}
</div>
{% endblock %}