{% load static %}
{% block 'header' %}


<nav class="navbar navbar-expand navbar-dark bg-dark static-top">


    <button class="btn btn-link btn-sm text-white" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>
    <!-- Navbar -->
    <img class="bg-white p-1 rounded" src="http://46.209.4.216:8000/static/img/ihcsLogo.png" alt="پژوهشگاه علوم انسانی" style="max-height:50px;">
    <ul class="navbar-nav ml-auto ml-md-0 pr-0">
        <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/accounts/dashboard/">پروفایل</a>
            <div class="dropdown-divider p-0"></div>
            <a class="dropdown-item bg-danger" href="$" data-toggle="modal" data-target="#logoutModal">خروج</a>
        </div>
        </li>
    </ul>


    <a class="navbar-brand mr-1 ml-auto" href="/accounts/dashboard">
        {% if request.user.first_name %}
            {{ request.user.first_name }} {{ request.user.last_name }}
        {% else %}
        زبان‌آموز
        {% endif %}
    </a>



</nav>


{% endblock %}