{% block 'sidebar' %}

<!-- Sidebar -->
<ul class="sidebar navbar-nav text-right p-0">
    <li class="nav-item active">
    <a class="nav-link text-right" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>پروفایل</span>
    </a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="#" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>سوالات</span>
    </a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="#" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>نمودار پیشرفت</span>
    </a>
    </li>
</ul>

{% endblock %}