{% block 'sidebar' %}

<!-- Sidebar -->
<ul class="sidebar navbar-nav text-right p-0">
    <li class="nav-item active">
    <a class="nav-link text-right" href="/accounts/dashboard/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>پروفایل</span>
    </a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="/question/history-choice" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>تاریخچه سوالات</span>
    </a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="#" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>نمودار پیشرفت</span>
    </a>
    </li>
    {% if request.user.is_staff %}
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="/question/new" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>ایجاد سوال</span>
    </a>
    </li>
    {% endif %}
</ul>

{% endblock %}