{% block 'sidebar' %}

<!-- Sidebar -->
<ul class="sidebar navbar-nav text-right p-0">
    <li class="nav-item active">
    <a class="nav-link text-right" href="/accounts/dashboard/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>پروفایل</span>
    </a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="/question/history-choice" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span class="small">تاریخچه سوالات</span>
    </a>
    </li>
    {% comment %} <li class="nav-item dropdown">
    <a class="nav-link text-right" href="/progress" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>نمودار پیشرفت کلی</span>
    </a>
    </li> {% endcomment %}
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="/progress-blank" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>نمودار پیشرفت جای‌خالی</span>
    </a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="/progress-mc" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>نمودار پیشرفت چندگزینه‌ای</span>
    </a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="/text" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>نگارش متن</span>
    </a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="/text_list" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>لیست نگارش‌ها</span>
    </a>
    </li>
    {% if request.user.is_staff %}
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="/text_correct_list" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>تصحیح نگارش‌ها</span>
    </a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="/question/new" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>ایجاد سوال</span>
    </a>
    </li>
    {% endif %}
    <li class="nav-item dropdown">
    <a class="nav-link text-right" href="mailto:zabanamooz@ihcs.ac.ir" id="pagesDropdown" role="button">
        <i class="fas fa-fw fa-folder"></i>
        <span>ارتباط با ما</span>
    </a>
    </li>
</ul>

{% endblock %}